@media print {
    @page {
      margin: 3cm;
    }
}

body, html {
  margin: 0;
  padding: 0;

  font-family: "Open Sans";
  font-size: 14pt;
  line-height: 1.4;
}

em {
  display: block;
  margin: 0 2cm;
  text-align: center;
}

strong {
  display: block;
  background-color: rgba(orange, 0.5);
  margin: 0;
  padding: 3mm 1cm;
  font-weight: normal;
}

blockquote {
  display: flex;

  > p {
    flex: 1;
  }

  p + p {
    margin-left: 5mm;
  }

  img {
    width: 100%;
    max-width: none;
    height: auto;
    margin: 0;
    padding: 0;
  }

  em {
    margin: 0;
  }
}

.container {
  max-width: 850px;
  margin: 0 auto;
}

img {
  position: relative;
  display: block;
  margin-left: 25%;
  max-width: 50%;
  min-width: 30%;
}
