body, html {
  margin: 0;
  padding: 0;

  font-family: "Open Sans";
  font-size: 14px;
}

.container {
  max-width: 850px;
  margin: 0 auto;
}

img {
  position: relative;
  display: block;
  margin-left: 25%;
  max-width: 50%;
}
